{% include 'header.html' %}

<body class="body-bg1">
    <div class="loader">
        <div class="spinner">
            <img src="static/cg-img/circle1.jpg" alt="" />
        </div>
    </div>
    {% include 'm_header.html' %}
    <div class="page-wrapper">
        <div class="main-content">
            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card1">
                    <div class="card1-body">
                        <div class="row"><br>
                            <div class="heading-container mt-2">
                                <h6 class="subheadding1 text-start">ROUND 1</h6>
                                
                              </div>
                            <div class="heading-container1 mt-2">
                                <h6 class="subheadding text-start">Communication English Quiz</h6>

                            </div>

                            <div class="container mt-4">
                                <form class="mx-auto" action="/c-quiz" method="POST">
                                    {% for question in questions %}
                                    <div class="form-group mt-1">
                                        <label for="question_{{ loop.index }}">{{ question.Question }}</label>
                                    </div>
                                    <div class="round">
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="question_{{ loop.index }}" value="a">
                                            <label class="form-check-label">{{ question['Option A'] }}</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="question_{{ loop.index }}" value="b">
                                            <label class="form-check-label">{{ question['Option B'] }}</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="question_{{ loop.index }}" value="c">
                                            <label class="form-check-label">{{ question['Option C'] }}</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="radio" name="question_{{ loop.index }}" value="d">
                                            <label class="form-check-label">{{ question['Option D'] }}</label>
                                        </div>
                                    </div>
                                    {% endfor %}
                                    <div class="d-grid gap-2 col-6 mx-auto" style="justify-content: center;">
                                        <button type="submit" class="btn6">Submit</button>
                                    </div>
                                </form>
                            </div>
                            
                            {% include 'footer.html' %}
                        </div>
                    </div>
                </div>
            </div>

</body>

</html>