
    <!-- Main Body -->
    <div class="page-wrapper">
        <!-- Header Start -->
        <header class="header-wrapper main-header">
            <div class="header-inner-wrapper">
                <div class="header-right">
                    <div class="header-left">
                        <div class="header-links">
                            <!-- <a href="javascript:void(0);" class="toggle-btn"> 
                                <span></span>
                            </a> -->
                            <img src="{{ url_for('static', filename='cg-img/menu1.png') }}" alt="icon" class="toggle-btn">
                           
                        </div>

                    </div>

                    <div class="logo">
                        <h2>CAREER GUIDE</h2>
                       
                    </div>

                    <div class="header-controls">
                        
                    </div>
                </div>
        </header>
        <!-- Sidebar Start -->
        <aside class="sidebar-wrapper">


            <div class="side-menu-wrap text-wrap">
                <ul class="main-menu">
                    <li class="lines">
                        <a href="/dashboard" class="active" style="margin-top: 60px;">
                            <span class="icon-menu text-center">
                                <img src="{{ url_for('static', filename='cg-img/dashboard.jpg') }}" alt="icon" class="icon-sb">
                               
                            </span>
                            <span class="menu-text">
                                Dashboard
                            </span>
                        </a>
                    </li>

                    <li class="lines">
                        <a href="/profile">
                            <span class="icon-menu text-center">
                                <img src="{{ url_for('static', filename='cg-img/profile.jpg') }}" alt="icon" class="icon-sb">
                            
                            </span>
                            <span class="menu-text">
                                User Profile
                            </span>
                        </a>

                    </li>
                    <li class="lines">
                        <a href="/career">
                            <span class="icon-menu text-center">
                                <img src="{{ url_for('static', filename='cg-img/cg.jpg') }}" alt="icon" class="icon-sb">
                               
                            </span>
                            <span class="menu-text">
                                Career Predictor
                            </span>
                        </a>
                    </li>

                    <li class="lines">
                        <a href="/chatbot">
                            <span class="icon-menu text-center">
                                <img src="{{ url_for('static', filename='cg-img/chatbot.jpg') }}" alt="icon" class="icon-sb">
                              
                            </span>
                            <span class="menu-text">
                                ChatBot
                            </span>
                        </a>
                    </li>
                    <li class="lines">
                        <a href="/resume">
                            <span class="icon-menu text-center">
                                <img src="{{ url_for('static', filename='cg-img/resume.jpg') }}" alt="icon" class="icon-sb">
                                
                            </span>
                            <span class="menu-text">
                                Resume Template
                            </span>
                        </a>
                    </li>

                    <li class="lines">
                        <a href="#">
                            <span class="icon-menu text-center">
                                <img src="{{ url_for('static', filename='cg-img/qa.jpg') }}" alt="icon" class="icon-sb">
                                
                            </span>
                            <span class="menu-text">
                                Q/A
                            </span>
                        </a>
                        <ul class="sub-menu">
                            <li>
                                <a href="/c-quiz">
                                    <span class="icon-dash">
                                    </span>
                                    <span class="menu-text">
                                        Round 1
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/a-quiz">
                                    <span class="icon-dash">
                                    </span>
                                    <span class="menu-text">
                                        Round 2
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/b-quiz">
                                    <span class="icon-dash">
                                    </span>
                                    <span class="menu-text">
                                        Round 3
                                    </span>
                                </a>
                            </li>
                            <li>
                                <a href="/hr">
                                    <span class="icon-dash">
                                    </span>
                                    <span class="menu-text">
                                        Round 4
                                    </span>
                                </a>
                            </li>
                        </ul>
                        <li class="lines">
                            <a href="/f-fb">
                                <span class="icon-menu text-center">
                                    <img src="{{ url_for('static', filename='cg-img/resume.jpg') }}" alt="icon" class="icon-sb">
                                    
                                </span>
                                <span class="menu-text">
                                    Feedback
                                </span>
                            </a>
                        </li>
                    </li>
                    <li>
                        <a href="/logout">   
                            <span class="logout">
                                Logout
                            </span>
                        </a>
                    </li>
                </ul>
            </div>
        </aside>
