{% include 'header.html' %}

<body class="body-bg1">
    <div class="loader">
        <div class="spinner">
            <img src="static/cg-img/circle1.jpg" alt="" />
        </div>
    </div>

    {% include 'm_header.html' %}

    <!-- Op registration -->
    <div class="page-wrapper">
        <div class="main-content1">


            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
                <div class="card1">
                    <div class="card1-body">
                        
                        
                        <div class="card1-body">
                            <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12 p-2"><br>
                                <h5 class="from-title mb-4 text-center">Profile</h5>
                                <div class="row">
                                    <div class="container3">
                                        <div class="round-image-container">
                                            <img id="image-preview" src="{{ photo_path }}" alt="Photo">
                                        </div>
                                    </div>
                                    <div class="container form-control  mt-3 p-3 ">
                                        <div class="row p-2">
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12  form-group">
                                                <label for="name" class="col-form-label">Name :</label>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                                <input class="form-control" type="text" id="uname" name="uname" value="{{name}}" readonly>
                                            </div>
                                        </div>
                                        <div class="row p-2">
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12  form-group">
                                                <label for="email" class="col-form-label">Mail ID :</label>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                                <input class="form-control" name="email" type="email" id="email" value="{{ email }}" readonly>
                                            </div>
                                        </div>
                                        <div class="row p-2">
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12  form-group">
                                                <label for="password" name="password" class="col-form-label">Password :</label>
                                            </div>
                                            <div class="col-xl-6 col-lg-6 col-md-12 col-sm-12 col-12">
                                                <input class="form-control" type="password" id="password" value="{{ password }}" readonly>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="d-grid gap-2 col-6 mx-auto mt-3" style="justify-content: center;">
                                    <a href="/edit_profile" class="btn6">Edit</a>
                                </div>
                            </div>

                    </div>
                </div>
            </div>

      


    {% include 'footer.html' %}

</body>

</html>